---
title: Functions and Control Flow Continued
order: 8
tags: ["posts"]
layout: "layouts/post.njk"
permalink: /blog/functions-control-flow-continued/index.html
---

{%- css %}{% include "public/css/functions-control-flow-cont.css" %}{% endcss %}
<div class="container container-bg">
    <div class="row">
        <div class="col mt-3">
            <p class="lead">Ever wondered how much 30% of 135 is? Well, wonder no more.</p>

            <p>Our magical tool to find out is a <strong>function</strong> named <code>percentageCalculator</code>. Think of it as your personal number-crunching assistant, ready to calculate what any percentage of any number is. It's like asking a friend to do the maths for you, except this friend is super quick and never gets it wrong.</p>

            <p>Here's how we make it:</p>

            <ol>
                <li><p class="m-0">We create a <strong>function</strong> called <code>percentageCalculator</code>.</p></li>
                <li><p class="m-0">We provide it with two arguments: “number” and “percentage”. These are needed to perform the calculation.</p></li>
                <li><p class="m-0">Inside the <strong>function</strong>, we perform a mathematical operation to calculate the percentage of the number.</p></li>
                <li><p class="m-0">The <strong>function</strong> then returns the result of the calculation.</p></li>
                <li><p class="m-0">Finally, we call (invoke) our <strong>function</strong> with the arguments of 30 and 135. It then gives us our value back through the console.</p></li>
            </ol>


            <pre>
                <code class="language-javascript">
                    // Percentage calculator function
                    // Here we will use the arrow function syntax
                    // Step 1: Define the function called 'percentageCalculator'.
                    const percentageCalculator = (number, percentage) => {
                        // Step 3: Inside the function, calculate the percentage of the number.
                        const result = (number * percentage) / 100;
                        // Step 4: Return the result of the calculation.
                        return `${result} is ${percentage}% of ${number}`;
                    };

                    // Step 5: Call the 'percentageCalculator' function with arguments 135 and 30, and log the result.
                    const result = percentageCalculator(135, 30);
                    console.log(result); // This will output the calculation result to the console.
                    // "40.5 is 30% of 135" will be logged to the console
                </code>
            </pre>

            <p>Check out this <a href="https://codepen.io/Harp007/pen/vYPwbmv" target="_blank">live example on CodePen</a>.</p>

            <p>Let's take our percentageCalculator function and see it in action within a web page. A simple interface has been built using HTML and CSS where users can input a number and a percentage to see the calculation performed live on the web page. This practical demonstration shows how the JavaScript function created above can be integrated into a real-world scenario, allowing for interactive user engagement.</p>

            <p>By entering values into the provided fields, the application utilizes our percentageCalculator to compute and display the result directly on the page. This serves as a straightforward example of applying JavaScript functions in web development, illustrating the seamless interaction between HTML, CSS, and JavaScript in creating dynamic and interactive web applications.</p>

            <form class="percentage-form mt-4">
                <h2 class="text-center">Percentage Calculator</h2>
                <div class="d-flex gap-2 justify-content-between">
                    <div class="form-floating percentage-input-container">
                        <input type="number" class="form-control percentage-form-inputs" id="numberEntered" name="numberEntered" required
                            aria-required="true" aria-invalid="false" aria-describedby="numberEnteredAria">
                        <label for="numberEntered" class="form-label">Enter number</label>
                        <p id="numberEnteredAria" class="visually-hidden">
                            Enter number you want the percentage of
                        </p>
                    </div>
                    <div class="percentage-inc-dec-btns">
                        <button class="btn percentage-custom-btn" data-action="inc" data-target="numberEntered" type='button'>+</button>
                        <button class="btn percentage-custom-btn" data-action="dec" data-target="numberEntered" type='button'>-</button>
                    </div>
                </div>

                <div class="d-flex gap-2 justify-content-between">
                    <div class="form-floating percentage-input-container">
                        <input type="number" class="form-control percentage-form-inputs" id="percentage" name="percentage" required
                            aria-required="true" aria-invalid="false" aria-describedby="percentageAria">
                        <label for="percentage" class="form-label">Enter percentage</label>
                        <p id="percentageAria" class="visually-hidden">
                            Enter percentage number here
                        </p>
                    </div>
                    <div class="percentage-inc-dec-btns">
                        <button class="btn percentage-custom-btn" data-action="inc" data-target="percentage" type='button'>+</button>
                        <button class="btn percentage-custom-btn" data-action="dec" data-target="percentage" type='button'>-</button>
                    </div>
                </div>

                <div class="d-flex gap-2 justify-content-between">
                    <div class="form-floating percentage-input-container">
                        <input type="text" class="form-control percentage-form-inputs" id="result" name="result"
                            aria-describedby="percentageResultAria" readonly>
                        <label for="result" class="form-label">Result</label>
                        <p id="percentageResultAria" class="visually-hidden">
                            Result of specific percentage of a number
                        </p>
                    </div>
                    <div class="percentage-inc-dec-btns">
                        <button class="btn percentage-custom-btn percentage-reset-btn-custom" type="button" data-action="reset">Reset</button>
                    </div>
                </div>
            </form>            
        </div>
    </div>
    <div class="row">
        <div class="col mt-3"></div>
    </div>    
</div>        
        
