@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.home__container {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.home-img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.home__form-modal-btn {
	width: 40%;
}

.modal-contact-form .contact-form {
	width: 100%;
}

.modal-contact-form .contact-form > div {
	width: 100%;
}

/* ********************************************************************* */

.vanishIn {
	-webkit-animation-name: vanishIn;
	animation-name: vanishIn;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@-webkit-keyframes vanishIn {
	0% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: scale(2, 2);
		filter: blur(90px);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 50%;
		transform: scale(1, 1);
		filter: blur(0px);
	}
}

@keyframes vanishIn {
	0% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: scale(2, 2);
		filter: blur(90px);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 50%;
		transform: scale(1, 1);
		filter: blur(0px);
	}
}

/* ********************************************************************* */

.slideLeftReturn {
	-webkit-animation-name: slideLeftReturn;
	animation-name: slideLeftReturn;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@-webkit-keyframes slideLeftReturn {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@keyframes slideLeftReturn {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

/* ********************************************************************* */

.slideRightReturn {
	-webkit-animation-name: slideRightReturn;
	animation-name: slideRightReturn;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@-webkit-keyframes slideRightReturn {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@keyframes slideRightReturn {
	0% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	100% {
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

/* ********************************************************************* */

.spaceInUp {
	-webkit-animation-name: spaceInUp;
	animation-name: spaceInUp;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@-webkit-keyframes spaceInUp {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-transform: scale(0.2) translate(0%, -200%);
		transform: scale(0.2) translate(0%, -200%);
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-transform: scale(1) translate(0%, 0%);
		transform: scale(1) translate(0%, 0%);
	}
}
@keyframes spaceInUp {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-transform: scale(0.2) translate(0%, -200%);
		transform: scale(0.2) translate(0%, -200%);
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-transform: scale(1) translate(0%, 0%);
		transform: scale(1) translate(0%, 0%);
	}
}

/* ********************************************************************* */

.spaceInDown {
	-webkit-animation-name: spaceInDown;
	animation-name: spaceInDown;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@-webkit-keyframes spaceInDown {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transform: scale(0.2) translate(0%, 200%);
		transform: scale(0.2) translate(0%, 200%);
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transform: scale(1) translate(0%, 0%);
		transform: scale(1) translate(0%, 0%);
	}
}
@keyframes spaceInDown {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transform: scale(0.2) translate(0%, 200%);
		transform: scale(0.2) translate(0%, 200%);
	}

	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transform: scale(1) translate(0%, 0%);
		transform: scale(1) translate(0%, 0%);
	}
}

/* ********************************************************************* */

@media only screen and (max-width: 575px) {
	.home-img {
		width: 250px;
		height: 250px;
	}

	.home__form-modal-btn {
		width: 90%;
	}
}

@media only screen and (max-width: 375px) {
	.home-img {
		width: 200px;
		height: 200px;
	}

	.custom-lead {
		font-size: 1.1rem;
	}
}
