.carousel-item {
	height: 28rem;
}

.carousel-item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	aspect-ratio: 16 / 9;
}

@media only screen and (max-width: 500px) {
	.carousel-item {
		height: 20rem;
	}
}

@media only screen and (max-width: 375px) {
	.carousel-item {
		height: 18rem;
	}
}

@media only screen and (max-width: 350px) {
	.carousel-item {
		height: 16rem;
	}
}

@media only screen and (max-width: 320px) {
	.carousel-item {
		height: 13rem;
	}
}
