@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.home__container {
	font-family: "Poppins", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

.home-img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.home__form-modal-btn {
	width: 40%;
}

.modal-contact-form .contact-form {
	width: 100%;
}

.modal-contact-form .contact-form > div {
	width: 100%;
}

@media only screen and (max-width: 575px) {
	.home-img {
		width: 210px;
		height: 210px;
	}

	.home__form-modal-btn {
		width: 90%;
	}
}

@media only screen and (max-width: 375px) {
	.home-img {
		width: 200px;
		height: 200px;
	}

	.custom-lead {
		font-size: 1.1rem;
	}
}
