/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;
	--green: #43a047;
	--tomato-red: #f05757;
	--btn-background-color: #0f67b0;
	--syntax-tab-size: 2;

	--white: #fff;
	--form-input-box-shadow: rgba(0, 0, 0, 0.16);
	--form-input-box-shadow-focus: rgba(0, 0, 0, 0.505);
	--form-btn-box-shadow: rgba(0, 0, 0, 0.16);
	--form-btn-box-shadow-focus: rgba(0, 0, 0, 0.505);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}

/* Global stylesheet */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	/* max-width: 70em; */
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

img {
	width: 100%;
	object-fit: cover;
	height: auto;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

.main-container {
	flex: 1;
}

.main-layout {
	margin-top: 75px;
}

.aside {
	position: fixed;
	width: 380px;
	min-height: 100vh;
	padding: 2rem 1rem;
}

.main {
	padding: 2rem;
	margin-left: 380px;
	background: #f2f2f229;
	min-height: 100vh;
}

header {
	padding: 0.2em;
	width: 100%;
	transition: background 0.15s ease;
	z-index: 5;
	background: #262626;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

code {
	font-family: var(--font-family-monospace);
}

code {
	word-break: break-all;
}

/* Header */
header {
}

.home-link {
	display: grid;
	place-items: center;
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}

/* Logo */

.logo {
	width: 120px;
	transition: filter 0.15s ease;
}

.logo {
	filter: invert(100%);
}

.logo-offcanvas {
	width: 120px;
}

/* Nav */

.navbar {
	max-width: 80em;
	margin: 0 auto;
}

.navbar-toggler {
	transition: filter 0.15s ease;
	filter: invert(100%);
}

.toggler {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.toggler span {
	display: block;
	height: 2px;
	background-color: #000;
	width: 100%;
}

.first-name {
	display: none;
	pointer-events: none;
}
.logout,
.messages {
	display: none;
}

.hide-nav-item {
	display: none;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: 0.25em;
	padding-right: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 {
	margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	scroll-margin-top: 73px;
}

footer {
	background: #fff;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.809);
	z-index: 2000;
}

.error-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1040;
}

.center-error {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1050;
}

.larger-alert {
	font-size: 2.25rem;
	padding: 2rem 1.5rem;
}

.btn-close-custom {
	font-size: 1rem;
}

.error__dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: max-content;
	max-width: 90%;
	z-index: 1000;
}

.error__dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 991px) {
	.aside {
		display: none;
	}

	.main {
		margin-left: 0;
		padding: 1rem;
	}
}

@media only screen and (max-width: 375px) {
	.main {
		padding: 0.5rem;
	}
}
