.container-bg {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin-top: 2rem;
	width: 100%;
}

.code-custom-container {
	background: #272822;
	padding: 1em;
	margin: 0.5em 0;
	border-radius: 0.3em;
	width: 100%;
	overflow-x: auto;
}

.code-custom {
	color: #8292a2;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1em;
	line-height: 1.5;
	padding: 0;
	white-space: nowrap;
}

.multi-line-comment {
	width: 100%;
}

.multi-line-comment span {
	display: block;
}
