.register {
	width: 60%;
	margin: 1rem auto 0 auto;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	gap: 2.2rem;
	border-radius: 0.3em;
}

.register__form-group {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.register__form-input-container {
	width: 100%;
	position: relative;
	height: auto;
}

.register__form-input {
	width: 100%;
	font-size: 1rem;
	padding: 0.8rem 1rem;
	border: none;
	box-shadow: 0 0 1px 1px var(--form-input-box-shadow);
	border-radius: 0.3em;
	background: transparent;
	caret-color: black;
}

.register__form-input:focus {
	box-shadow: 0 0 1px 2px var(--form-input-box-shadow-focus);
	outline: none;
}

.placeholder-red::placeholder {
	color: var(--tomato-red);
	font-weight: 500;
}

.register__form-label {
	position: absolute;
	top: 0.1rem;
	left: 0.6rem;
	font-size: 0.7rem;
	pointer-events: none;
	transition: all 0.3s ease;
	color: var(--color-gray-90);
	opacity: 0;
}

.register__form-input:focus + .register__form-label.move-label {
	opacity: 1;
}

.register__form-input.has-content + .register__form-label {
	opacity: 1;
}

.register__form-error-icon {
	width: 20px;
	height: 20px;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1rem;
	transition: all 0.1s ease;
}

.register__form-error-icon.show-error-icon {
	visibility: visible;
	opacity: 1;
}

.register__form-success-icon {
	width: 20px;
	height: 20px;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1rem;
	transition: all 0.1s ease;
}

.register__form-success-icon.show-success-icon {
	visibility: visible;
	opacity: 1;
}

.register__form-error {
	/* font-size: 1rem; */
	align-self: flex-start;
	transition: all 0.1s ease;
	position: absolute;
	bottom: -1.7rem;
	left: 1rem;
}

.register__form-btn-submit {
	padding: 0.8rem 1rem;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--white);
	background: var(--btn-background-color);
	border-radius: 0.3em;
	border: none;
	box-shadow: 0 0 1px 1px var(--form-btn-box-shadow);
	cursor: pointer;
	transition: all 0.2s ease;
}

.register__form-btn-submit.register-success {
	background: var(--green);
}

.register__form-btn-submit:hover {
	filter: brightness(105%);
	box-shadow: 0 0 1px 2px var(--form-btn-box-shadow-focus);
}

.register__form-btn-submit:active {
	filter: brightness(110%);
}

.register__form-btn-submit:focus {
	box-shadow: 0 0 1px 2px var(--form-btn-box-shadow-focus);
	outline: none;
}

@media only screen and (max-width: 1400px) {
	.register {
		width: 70%;
	}
}

@media only screen and (max-width: 1200px) {
	.register {
		width: 80%;
	}
}

@media only screen and (max-width: 768px) {
	.register {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.register {
		padding: 2rem;
	}
}

@media only screen and (max-width: 375px) {
	.register {
		padding: 0;
	}
}
