.tech-stack {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.tech-stack-item {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.tech-stack-item:hover {
	background-color: #f0f0f0;
	border-color: #ccc;
}

section {
	margin-top: 16px;
	width: 100%;
}

article {
	margin-bottom: 32px;
	scroll-margin-top: 105px;
	width: 100%;
}

.code-block {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 10px;
}

code {
	font-size: clamp(14px, 2vw, 16px);
	white-space: pre-wrap;
	word-wrap: break-word;
}
