---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/contact.css" %}{% endcss %}
<h1 class="text-center">Contact</h1>

<form class="row contact-form d-flex flex-col justify-content-center mt-4" novalidate>
    <div class="col-md-8">
        <div class="form-floating mb-3 dark-label">
            <input type="text" class="form-control contact-input" id="firstName" name="firstName" required aria-required="true" aria-invalid="false" autofocus aria-describedby="firstNameValidFeedback firstNameInvalidFeedback">
            <label for="firstName" class="form-label">First name</label>
            <div class="valid-feedback" id="firstNameValidFeedback">
                Looks good!
            </div>
            <div class="invalid-feedback" id="firstNameInvalidFeedback">
                First name is required
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
        <div class="form-floating mb-3 dark-label">
            <input type="text" class="form-control contact-input" id="surname" name="surname" required aria-required="true" aria-invalid="false" aria-describedby="surnameValidFeedback surnameInvalidFeedback">
            <label for="surname" class="form-label">Surname</label>
            <div class="valid-feedback" id="surnameValidFeedback">
                Looks good!
            </div>
            <div class="invalid-feedback" id="surnameInvalidFeedback">
                Surname name is required
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-floating mb-3 dark-label">
            <input type="email" class="form-control contact-input" id="email" name="email" required aria-required="true" aria-invalid="false" aria-describedby="emailValidFeedback emailInvalidFeedback">
            <label for="email" class="form-label">Email</label>
            <div class="valid-feedback" id="emailValidFeedback">
                Looks good!
            </div>
            <div class="invalid-feedback" id="emailInvalidFeedback">
                Email is not valid
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-floating mb-3 dark-label">
            <textarea class="form-control textarea-custom" id="message" name="message" required aria-required="true" aria-invalid="false" maxlength="150" aria-describedby="messageValidFeedback messageInvalidFeedback charCount"></textarea>
            <label for="message" class="form-label">Leave your message here</label>
            <div id="charCount" class="char-count" aria-live="polite" role="status" aria-atomic="true">150 characters left</div>
            <div class="valid-feedback" id="messageValidFeedback">
                Looks good!
            </div>
            <div class="invalid-feedback" id="messageInvalidFeedback">
                Message must be not be empty and within character limit.
            </div>
        </div>
    </div>

    <div class="col-md-8 mt-3">
        <button class="btn btn-primary w-100 p-2 fs-5" type="submit">Submit</button>
    </div>
</form>        
