---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

{%- css %}{% include "public/css/home.css" %}{% endcss %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <img src="https://res.cloudinary.com/cloudinary-h/image/upload/v1706964130/cg-eleventy-blog/love.jpg" class="home-img mb-4" alt="Inspirational quote saying 'Do what you love'">

    <h1>Welcome to my blog!</h1>

    <p class="subtitle mt-3">Journeying Through the Full Stack: Exploring the Layers of Modern Web Development</p>

    <p class="lead">I'm Harpreet, and this space is dedicated to documenting my journey through the Coders Guild bootcamp. Here, I'll be sharing the exercises, challenges, and key learnings as I progress. Enjoy the insights, and should they strike a chord, I'd love to hear from you. Feel free to follow along, and don't hesitate to reach out if you like what you see or have questions.</p>										
</div>


       