---
layout: layouts/base.njk
eleventyNavigation:
  key: Login
  order: 4
---

{%- css %}{% include "public/css/login.css" %}{% endcss %}
<h1 class="text-center">Login</h1>

<form class="row login-form d-flex flex-col justify-content-center mt-4" novalidate>
    <div class="col-md-8">
        <div class="form-floating mb-3 dark-label">
            <input type="text" class="form-control login-input" id="username" name="username" required aria-required="true" aria-invalid="false" autofocus aria-describedby="usernameValidFeedback usernameInvalidFeedback">
            <label for="username" class="form-label">Username</label>
            <div class="valid-feedback" id="usernameValidFeedback">
                Looks good!
            </div>
            <div class="invalid-feedback" id="usernameInvalidFeedback">
                Username must be at least 8 characters long
            </div>
        </div>
    </div>

    <div class="col-md-8 d-flex justify-content-between gap-2">
        <div class="password-input-container">
            <div class="form-floating mb-3 dark-label">
                <input type="password" class="form-control login-input" id="password" name="password" required aria-required="true" aria-invalid="false" aria-describedby="passwordValidFeedback passwordInvalidFeedback">
                <label for="password" class="form-label">Password</label>
                <div class="valid-feedback" id="passwordValidFeedback">
                    Looks good!
                </div>
                <div class="invalid-feedback" id="passwordInvalidFeedback">
                    Password must be at least 8 characters long
                </div>
            </div>
        </div>
        <button type="button" class="eye-icon-btn" id="password-addon" aria-label="Show password" title="Show password">
            <i class="bi bi-eye-slash" id="togglePasswordVisibility"></i> 
        </button>
    </div>
        
    <div class="col-md-8">
        <button class="btn btn-primary w-100 p-2 fs-5" type="submit">Login</button>
    </div>
</form>
    





