---
layout: layouts/base.njk
eleventyNavigation:
  key: Register
  order: 6
---

{%- css %}{% include "public/css/register.css" %}{% endcss %}
<h1 class="text-center">Register</h1>

<form id="register" class="register" novalidate>
    <div class="register__form-group">
        <div class="register__form-input-container">
            <input type="text" id="firstName" name="firstName" class="register__form-input"
            aria-describedby="firstNameError" aria-required="true" aria-invalid="false" placeholder="Enter your first name" autofocus>
            <label for="firstName" class="register__form-label">First Name</label>
            <img src="/icon-error.svg" alt="" aria-hidden="true" class="register__form-error-icon">
            <img src="/icon-success.svg" alt="" aria-hidden="true" class="register__form-success-icon">
        </div>
        <span class="register__form-error" id="firstNameError" aria-live="polite"></span>
    </div>

    <div class="register__form-group">
        <div class="register__form-input-container">
            <input type="text" id="username" name="username" class="register__form-input"
            aria-describedby="usernameError" aria-required="true" aria-invalid="false" placeholder="Enter your username">
            <label for="username" class="register__form-label">Username</label>
            <img src="/icon-error.svg" alt="" aria-hidden="true" class="register__form-error-icon">
            <img src="/icon-success.svg" alt="" aria-hidden="true" class="register__form-success-icon">
        </div>
        <span class="register__form-error" id="usernameError" aria-live="polite"></span>
    </div>

    <div class="register__form-group">
        <div class="register__form-input-container">
            <input type="password" id="password" name="password" class="register__form-input"
            aria-describedby="passwordError" aria-required="true" aria-invalid="false" placeholder="Enter your password">
            <label for="password" class="register__form-label">Password</label>
            <img src="/icon-error.svg" alt="" aria-hidden="true" class="register__form-error-icon">
            <img src="/icon-success.svg" alt="" aria-hidden="true" class="register__form-success-icon">
        </div>
        <span class="register__form-error" id="passwordError" aria-live="polite"></span>
    </div>
    
    <div class="register__form-group">
        <div class="register__form-input-container">
            <input type="checkbox" id="agreeTerms" name="agreeTerms" class="register__form-checkbox"
            aria-describedby="agreeTermsError" aria-required="true" aria-invalid="false">
            <label for="agreeTerms" class="register__form-label-checkbox">&nbsp;I agree to the terms and conditions</label>
            <img src="/icon-error.svg" alt="" aria-hidden="true" class="register__form-error-icon-checkbox" >
            <img src="/icon-success.svg" alt="" aria-hidden="true" class="register__form-success-icon-checkbox">
        </div>
        <span class="register__form-error" id="agreeTermsError" aria-live="polite"></span>
    </div>


    <button type="submit" class="register__form-btn-submit">Register Now</button>
</form>