<script type="text/template" id="modal-template-0">
  <h1>temp0</h1>
  {{ modalContent.body | safe }}
</script>

<script type="text/template" id="modal-template-1">
    <h1>temp1</h1>
  {{ modalContent.body | safe }}
</script>