<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ metadata.favicon }}" type="image/x-icon">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">


		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
		<script type="module" src="/script/index.js" defer></script>
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header class="header position-fixed border-bottom">
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<a href="/" class="navbar-brand home-link"><img src='/logo.svg' alt='Logo of website' class='logo'/></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon toggler">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</button>
					<div class="collapse navbar-collapse justify-content-end p-2" id="navbarNavDropdown">
						<ul class="navbar-nav ">
								<li class="nav-item first-name"><a href='' class="nav-link text-light text-capitalize"></a></li>
							{%- for entry in collections.all | eleventyNavigation %}
								<li class="nav-item items"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %} class="nav-link text-light">{{ entry.title }}</a></li>
							{%- endfor %}
								<li class="nav-item contact"><a href='/contact' class="nav-link text-light">Contact Me</a></li>
								<li class="nav-item messages"><a href='/messages' class="nav-link text-light">Messages</a></li>
								<li class="nav-item logout"><a href='' class="nav-link text-light">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<div id="skip" class="container main-container">
  			<div class="row">
				<div class="main-layout">
					<aside class="aside">
						<h2 class="h3 mb-2">Latest</h2>

						{% set postslist = collections.posts %}
						{%- css %}.postlist { counter-reset: start-from {{ postslist.length + 1 }} }{% endcss %}
						<ol class="postlist">
						{% for post in postslist | reverse %}
							<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
								<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
							</li>
						{% endfor %}
						</ol>
					</aside>
					<main class="main">
					{{ content | safe }}
					</main>
				</div>
  			</div>
		</div>


		<footer class="container-fluid border-top text-center py-3" role="contentinfo" aria-label="Footer">
				<p class="mb-0">Made by <strong>Harpreet Singh Duggal</strong> under the guidance of <a href="https://thecodersguild.org.uk/" aria-label="Visit The Coders Guild website" target="_blank" rel="noopener noreferrer"><strong>The Coders Guild</strong></a>, Leeds</p>
		</footer>

		<div class="loading">
			<div class="spinner-border text-light" role="status" style="width: 4rem; height: 4rem;">
			<span class="visually-hidden">Loading...</span>
			</div>
		</div>

		<dialog class="error__dialog p-3">
			<p></p>
			<button class="btn btn-primary" autofocus>Close</button>
		</dialog>

		<!-- Current page: {{ page.url | htmlBaseUrl }} -->

	</body>
</html>



	




